*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100%;
}
/* ------- display flex class------ */
.d-flex{
    display: flex;
    justify-content: space-between;
}
/* ------start hero section----- */
.hero-section{
    display: flex;
    padding: 80px 120px 0px 120px;
    width: 100%;
    height: 600px;
    /* background-color: #2d3436; */
}
.hero-left{
    width: 60%;
    padding-top: 30px;
    
}
.side-bar{
    height: 180px;
    border-radius: 3px;
    border-left: 5px solid tomato;
    padding-left: 10px;
    line-height: 55px;
}
.title{
    font-size: 70px;
    font-weight: 600;
    color: #1e272e;
    margin-bottom: 63px;
}
.sub-title{
    font-size: 60px;
    color: #FFB427;
    margin-bottom: 10px;
}
.details{
    text-align: start;
    height: 98px;
    width: 68%;
    font-weight: 400;
    padding-top: 10px;
    margin-bottom: 8px;
}

.hero-right{
    width: 40%;
}
.hero-right-img{
    width: 90%;
    display: block;
    
}
.button{
    width: 170px;
    height: 50px;
    display: block;
    background-color: tomato;
    color: white;
    text-decoration: none;
    font-size:20px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;


}
.button:hover{
    background-color: transparent;
    color: black;
    border: 2px solid tomato;
}
/* ------end hero section----- */
/* -------start mission section------ */
.Mission{
    width: 100%;
    height: 700px;
    padding: 0px 100px 0px 100px;
}
.center{
    text-align: center;
    font-size: 50px;
    color: #130f40;
    height: 140px;
}
.col-oranges{
    color:#FFB427;
}
.mossion-box{
    width: 100%;
    display: flex;
    height: 420px;
    justify-content: space-between;
    

}
.mossion-box-one{
    width: 30%;
    box-shadow: 5px 7px 40px grey;
    background-color: #dff9fb;
    border-radius: 10px;
}
.mission-box-img{
   
    width: 226px;
    height: 226px;
}
.mossion-box-tittle{
    padding-bottom: 10px;
    color: #130f40;
}
.tow{
    background-color: #d1d8e0;
}
.three{
    background-color: #ced6e0;
}
.mossion-box-text{
    width: 100%;
    text-align: justify;
    color: #2d3436;
}
.mission-box-grab{
    width: 100%;
    padding: 0px 20px;
}
.title-sidebar{
    border-bottom: 5px solid tomato;
    border-radius: 5px;
}
/* -------end mission section------ */

/* -------start develop section----- */
.background-img{
    background-image: url(image/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 510px;
}
.develop-section-left{
    width: 45%;
    
}
.develop-section-left-img{
    width: 90%;
}
.develop-section-right{
    width: 53%;
   padding-top: 50px;
}
.develop-section-right-title{
    font-size: 55px;
    font-weight: 600;
    color: #1e272e;
}
.develop-section-right-subtilte{
    font-size: 60px;
    font-weight: 600;
    color: #1e272e;
    padding-bottom: 20px;
}
.develop-button{
    width: 300px;
    height: 60px;
    margin-top: 40px;
}
/* ---------End develop section---------- */

/* --------start global section--------- */

.global{
    width: 600px;
    width: 100%;
    padding-top: 100px;
}
/* --------End global section--------- */